@page "/Ingredients"
@using TeaSaloon_API.Models

@inject TeaSaloon_Blazor.Services.IngredientService IngredientService


<h3>IngredientsList</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">SuplementPrice</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @if (ingredients_dans_API != null)
        @foreach (Ingredient ing in ingredients_dans_API)
            {
                <tr>
                    <th scope="row">@ing.IngredientID</th>
                    <td>@ing.Name</td>
                    <td>@ing.SuplementPrice</td>
                    <td>@ing.Price</td>
                    <td>@ing.Image</td>
                </tr>

            }
        
    </tbody>
</table>

@code {
    List<Ingredient>? ingredients_dans_API;
    string ErrorMessage;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            ingredients_dans_API = await IngredientService.GetAllAsync();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
